.background {
    background-image: url(/static/img/rocmagic.png);
    background-size: cover;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

body, html {
    height: 100%;
}


