.background {
    background-image: url(/static/img/rocmagic.png);
    background-size: cover;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
}

body, html {
    height: 100%;
}


.pace-activity, .pace-progress, .pace-progress-inner, .pace-running {
    height: 40px;
}

